<div class="md-drppicker" #pickerContainer
     [ngClass]="{
    ltr: locale.direction === 'ltr',
    rtl: this.locale.direction === 'rtl',
    'shown': isShown || inline,
    'hidden': !isShown && !inline,
    'inline': inline,
    'double': !singleDatePicker && showCalInRanges,
    'show-ranges': rangesArray.length
}" [class]="'drops-' + drops + '-' + opens">

  <div class="ranges" *ngIf="rangesArray.length"
       style="border-right: 1px solid gainsboro;display: flex;flex-direction: column;">
    <div style="    padding: 15px 0;border-bottom: 1px solid gainsboro;">
      <ul>
        <li *ngIf="showCustomRangeLabel" style="width: 100%;display: block;">
          <button type="button" style="width: 100%;border: none;background-color: unset;text-align: left;"
                  (click)="clickRange($event, locale.customRangeLabel)"
                  [disabled]="disableRange(locale.customRangeLabel)"
                  [ngClass]="{'active': locale.customRangeLabel === chosenRange}">{{locale.customRangeLabel}}</button>
        </li>
      </ul>
    </div>
    <div style="flex: 1 1 auto;">
      <ul>


        <li *ngFor="let range of rangesArray; let i = index" style="position: relative">
          <button type="button"
                  (click)="clickRange($event, range)"
                  [disabled]="disableRange(range)"
                  [ngClass]="{'active': range === chosenRange}">{{range}}
          </button>

        </li>
      </ul>
    </div>
    <div style="border-bottom: 1px solid gainsboro;border-top: 1px solid gainsboro;">
      <ul>
        <li>
          <button><input type="text"
                         style="width: 28px;height: 17px;margin-right: 3px;font-size: 12px;margin-bottom: 0;"
                         (change)="uptoToday($event,0,$event.target.value)"> days up
            to today
          </button>
        </li>
        <li>
          <button><input type="text" (change)="uptoToday($event,1,$event.target.value)"
                         style="width: 28px;height: 17px;margin-right: 3px;font-size: 12px;margin-bottom: 0;"> days up
            to yesterday
          </button>
        </li>
      </ul>
    </div>

  </div>

  <div style="display: flex;flex-direction: column;" (mousewheel)="mouseUp($event)">

    <div style="flex:1 1 auto;overflow: auto;">

      <div style="display: flex ;flex-direction: column;" (mouseout)="hoveredDate = null">
        <div>
          <div style="display: flex;justify-content: space-around;padding-top: 10px">
            <input matInput placeholder="start date" mask="d0/m0/0000" [dropSpecialCharacters]="true"
                   [value]="startDateString" (change)="setStartDate($event.target.value)"
                   style="width: 100px;height:30px;font-size: 12px;">
            <span style="display: flex;align-items: flex-start">
              _
            </span>
            <input matInput placeholder="end date" mask="d0/m0/0000" [dropSpecialCharacters]="true"
                   [value]="endDateString" (change)="setEndDate($event.target.value)"
                   style="width: 100px;height: 30px;font-size: 12px;">
          </div>
          <div style="display: flex;justify-content: space-between;padding:10px  12px">
            <div>
              <span style="font-weight: 700;cursor: pointer" (click)="monthPickerClick()">
                <ng-container *ngIf="showDropdowns && calendarVariables.left.dropdowns">
                    <!--<div>-->

                  {{this.locale.monthNames[calendarVariables?.left?.calendar[1][1].month()]}}

                  <!--<select class="monthselect" (change)="monthChanged($event, sideEnum.left)">-->
                  <!--<option-->
                  <!--[disabled]="(calendarVariables.left.dropdowns.inMinYear && m < calendarVariables.left.minDate.month()) || (calendarVariables.left.dropdowns.inMaxYear && m > calendarVariables.left.maxDate.month())"-->
                  <!--*ngFor="let m of calendarVariables.left.dropdowns.monthArrays" [value]="m"-->
                  <!--[selected]="calendarVariables.left.dropdowns.currentMonth == m">-->
                  <!--{{locale.monthNames[m]}}-->
                  <!--</option>-->
                  <!--</select>-->

                  <!--</div>-->

                  <!--<div style="padding-left: 5px">-->
                  {{ calendarVariables?.left?.calendar[1][1].format(" YYYY")}}
                  <!--<select class="yearselect" (change)="yearChanged($event, sideEnum.left)">-->
                  <!--<option *ngFor="let y of calendarVariables.left.dropdowns.yearArrays"-->
                  <!--[selected]="y === calendarVariables.left.dropdowns.currentYear">-->
                  <!--{{y}}-->
                  <!--</option>-->
                  <!--</select>-->
                  <!--</div>-->

                  </ng-container>

                  <ng-container *ngIf="!showDropdowns || !calendarVariables.left.dropdowns">
                    {{this.locale.monthNames[calendarVariables?.left?.calendar[1][1].month()]}}  {{ calendarVariables?.left?.calendar[1][1].format(" YYYY")}}
                  </ng-container>
              </span>

            </div>

            <div style="width: 100px;display: flex;justify-content: space-around">

              <span (click)="clickPrev(sideEnum.right)" class="prev available"></span>

              <span class="next available" (click)="clickNext(sideEnum.right)"></span>

            </div>


          </div>

          <div class="d-container" *ngIf="showMonthPicker" (mousewheel)="mouseUpYear($event)">
            <div>
              <h2 style="position: relative;padding-left: 24px;font-size: 13px;color: rgba(0,0,0,.54);margin: 9px 0;;">
                {{ calendarVariables?.left?.calendar[1][1].format(" YYYY")}}</h2>
              <div class="dropdown-containt">
                <div class="d-month" (click)="setMonth(calendarVariables?.left?.calendar[1][1].clone().year(),0)">Jan
                </div>
                <div class="d-month" (click)="setMonth(calendarVariables?.left?.calendar[1][1].clone().year(),1)">Feb
                </div>
                <div class="d-month" (click)="setMonth(calendarVariables?.left?.calendar[1][1].clone().year(),2)">Mar
                </div>
                <div class="d-month" (click)="setMonth(calendarVariables?.left?.calendar[1][1].clone().year(),3)">Apr
                </div>
                <div class="d-month" (click)="setMonth(calendarVariables?.left?.calendar[1][1].clone().year(),4)">May
                </div>
                <div class="d-month" (click)="setMonth(calendarVariables?.left?.calendar[1][1].clone().year(),5)">June
                </div>
                <div class="d-month" (click)="setMonth(calendarVariables?.left?.calendar[1][1].clone().year(),6)">July
                </div>
                <div class="d-month" (click)="setMonth(calendarVariables?.left?.calendar[1][1].clone().year(),7)">Aug
                </div>
                <div class="d-month" (click)="setMonth(calendarVariables?.left?.calendar[1][1].clone().year(),8)">Sept
                </div>
                <div class="d-month" (click)="setMonth(calendarVariables?.left?.calendar[1][1].clone().year(),9)">Oct
                </div>
                <div class="d-month" (click)="setMonth(calendarVariables?.left?.calendar[1][1].clone().year(),10)">Nov
                </div>
                <div class="d-month" (click)="setMonth(calendarVariables?.left?.calendar[1][1].clone().year(),11)">Dec
                </div>
              </div>
            </div>
            <div>
              <h2 style="position: relative;padding-left: 24px;font-size: 13px;color: rgba(0,0,0,.54);margin: 9px 0;;">
                {{ calendarVariables?.left?.calendar[1][1].clone().add(1, 'year').format(" YYYY")}}</h2>
              <div class="dropdown-containt">
                <div class="d-month"
                     (click)="setMonth(calendarVariables?.left?.calendar[1][1].clone().add(1, 'year').year(),0)">Jan
                </div>
                <div class="d-month"
                     (click)="setMonth(calendarVariables?.left?.calendar[1][1].clone().add(1, 'year').year(),1)">Feb
                </div>
                <div class="d-month"
                     (click)="setMonth(calendarVariables?.left?.calendar[1][1].clone().add(1, 'year').year(),2)">Mar
                </div>
                <div class="d-month"
                     (click)="setMonth(calendarVariables?.left?.calendar[1][1].clone().add(1, 'year').year(),3)">Apr
                </div>
                <div class="d-month"
                     (click)="setMonth(calendarVariables?.left?.calendar[1][1].clone().add(1, 'year').year(),4)">May
                </div>
                <div class="d-month"
                     (click)="setMonth(calendarVariables?.left?.calendar[1][1].clone().add(1, 'year').year(),5)">June
                </div>
                <div class="d-month"
                     (click)="setMonth(calendarVariables?.left?.calendar[1][1].clone().add(1, 'year').year(),6)">July
                </div>
                <div class="d-month"
                     (click)="setMonth(calendarVariables?.left?.calendar[1][1].clone().add(1, 'year').year(),7)">Aug
                </div>
                <div class="d-month"
                     (click)="setMonth(calendarVariables?.left?.calendar[1][1].clone().add(1, 'year').year(),8)">Sept
                </div>
                <div class="d-month"
                     (click)="setMonth(calendarVariables?.left?.calendar[1][1].clone().add(1, 'year').year(),9)">Oct
                </div>
                <div class="d-month"
                     (click)="setMonth(calendarVariables?.left?.calendar[1][1].clone().add(1, 'year').year(),10)">Nov
                </div>
                <div class="d-month"
                     (click)="setMonth(calendarVariables?.left?.calendar[1][1].clone().add(1, 'year').year(),11)">Dec
                </div>
              </div>
            </div>
            <div>
              <h2 style="position: relative;padding-left: 24px;font-size: 13px;color: rgba(0,0,0,.54);margin: 16px 0;;">
                {{ calendarVariables?.left?.calendar[1][1].clone().add(2, 'year').format(" YYYY")}}</h2>
              <div class="dropdown-containt">
                <div class="d-month"
                     (click)="setMonth(calendarVariables?.left?.calendar[1][1].clone().add(2, 'year').year(),00)">Jan
                </div>
                <div class="d-month"
                     (click)="setMonth(calendarVariables?.left?.calendar[1][1].clone().add(2, 'year').year(),01)">Feb
                </div>
                <div class="d-month"
                     (click)="setMonth(calendarVariables?.left?.calendar[1][1].clone().add(2, 'year').year(),02)">Mar
                </div>
                <div class="d-month"
                     (click)="setMonth(calendarVariables?.left?.calendar[1][1].clone().add(2, 'year').year(),03)">Apr
                </div>
                <div class="d-month"
                     (click)="setMonth(calendarVariables?.left?.calendar[1][1].clone().add(2, 'year').year(),04)">May
                </div>
                <div class="d-month"
                     (click)="setMonth(calendarVariables?.left?.calendar[1][1].clone().add(2, 'year').year(),05)">June
                </div>
                <div class="d-month"
                     (click)="setMonth(calendarVariables?.left?.calendar[1][1].clone().add(2, 'year').year(),06)">July
                </div>
                <div class="d-month"
                     (click)="setMonth(calendarVariables?.left?.calendar[1][1].clone().add(2, 'year').year(),07)">Aug
                </div>
                <div class="d-month"
                     (click)="setMonth(calendarVariables?.left?.calendar[1][1].clone().add(2, 'year').year(),08)">Sept
                </div>
                <div class="d-month"
                     (click)="setMonth(calendarVariables?.left?.calendar[1][1].clone().add(2, 'year').year(),09)">Oct
                </div>
                <div class="d-month"
                     (click)="setMonth(calendarVariables?.left?.calendar[1][1].clone().add(2, 'year').year(),10)">Nov
                </div>
                <div class="d-month"
                     (click)="setMonth(calendarVariables?.left?.calendar[1][1].clone().add(2, 'year').year(),11)">Dec
                </div>
              </div>
            </div>
          </div>

        </div>

        <div class="calendar" [ngClass]="{right: singleDatePicker, left: !singleDatePicker}"
             *ngIf="showCalInRanges && !showMonthPicker">
          <div class="calendar-table" *ngIf="calendarVariables">
            <table class="table-condensed">
              <thead>
              <tr>
                <th *ngIf="showWeekNumbers || showISOWeekNumbers"></th>

                <ng-container
                  *ngIf="!calendarVariables.left.minDate || calendarVariables.left.minDate.isBefore(calendarVariables.left.calendar.firstDay) && (!this.linkedCalendars || true)">
                  <th>
                  </th>
                </ng-container>

                <ng-container
                  *ngIf="!(!calendarVariables.left.minDate || calendarVariables.left.minDate.isBefore(calendarVariables.left.calendar.firstDay) && (!this.linkedCalendars || true))">
                  <th></th>
                </ng-container>

                <th colspan="5" class="month drp-animate">
                  <ng-container *ngIf="showDropdowns && calendarVariables.left.dropdowns">
                    <div>

                      {{this.locale.monthNames[calendarVariables?.left?.calendar[1][1].month()]}}

                      <select class="monthselect" (change)="monthChanged($event, sideEnum.left)">
                        <option
                          [disabled]="(calendarVariables.left.dropdowns.inMinYear && m < calendarVariables.left.minDate.month()) || (calendarVariables.left.dropdowns.inMaxYear && m > calendarVariables.left.maxDate.month())"
                          *ngFor="let m of calendarVariables.left.dropdowns.monthArrays" [value]="m"
                          [selected]="calendarVariables.left.dropdowns.currentMonth == m">
                          {{locale.monthNames[m]}}
                        </option>
                      </select>

                    </div>

                    <div style="padding-left: 5px">
                      {{ calendarVariables?.left?.calendar[1][1].format(" YYYY")}}
                      <select class="yearselect" (change)="yearChanged($event, sideEnum.left)">
                        <option *ngFor="let y of calendarVariables.left.dropdowns.yearArrays"
                                [selected]="y === calendarVariables.left.dropdowns.currentYear">
                          {{y}}
                        </option>
                      </select>
                    </div>

                  </ng-container>

                  <ng-container *ngIf="!showDropdowns || !calendarVariables.left.dropdowns">
                    {{this.locale.monthNames[calendarVariables?.left?.calendar[1][1].month()]}}  {{ calendarVariables?.left?.calendar[1][1].format(" YYYY")}}
                  </ng-container>

                </th>

                <ng-container
                  *ngIf="(!calendarVariables.left.maxDate || calendarVariables.left.maxDate.isAfter(calendarVariables.left.calendar.lastDay)) && (!linkedCalendars || singleDatePicker )">
                  <th class="next available" (click)="clickNext(sideEnum.left)">
                  </th>
                </ng-container>

                <ng-container
                  *ngIf="!((!calendarVariables.left.maxDate || calendarVariables.left.maxDate.isAfter(calendarVariables.left.calendar.lastDay)) && (!linkedCalendars || singleDatePicker ))">
                  <th></th>
                </ng-container>

              </tr>

              <tr>
                <th *ngIf="showWeekNumbers || showISOWeekNumbers" class="week"><span>{{this.locale.weekLabel}}</span>
                </th>
                <th *ngFor="let dayofweek of locale.daysOfWeek"><span>{{dayofweek}}</span></th>
              </tr>

              </thead>

              <tbody class="drp-animate">

              <ng-container *ngFor="let row of calendarVariables.left.calRows">
                <tr *ngIf="row<5"
                    [class]="calendarVariables.left.classes[row].classList">

                  <!-- add week number -->
                  <td class="week" *ngIf="showWeekNumbers">
                    <span>{{calendarVariables.left.calendar[row][0].week()}}</span>
                  </td>

                  <td class="week" *ngIf="showISOWeekNumbers">
                    <span>{{calendarVariables.left.calendar[row][0].isoWeek()}}</span>
                  </td>

                  <!-- cal -->
                  <!--<td *ngFor="let col of calendarVariables.left.calCols"-->
                  <!--[class]="calendarVariables.left.classes[row][col]"-->
                  <!--(click)="clickDate($event, sideEnum.left, row, col)"-->
                  <!--(mouseenter)="hoveredDate = calendarVariables.left.calendar[row][col]"-->
                  <!--[ngClass]="{'in-range-hovered': calendarVariables.left.calendar[row][col].isBetween(startDate, hoveredDate)}">-->
                  <!--<span-->
                  <!--*ngIf="!(calendarVariables.left.classes[row][col].indexOf('off')>-1)">{{calendarVariables.left.calendar[row][col].date()}}</span>-->
                  <!--</td>-->

                  <td *ngFor="let col of calendarVariables.left.calCols"
                      [class]="calendarVariables.left.classes[row][col]"
                      [style.backgroundColor]="!(calendarVariables.right.calendar[1][1].month() ==calendarVariables.right.calendar[row][col].month())?'white':'inherit'"
                      (mouseenter)="mouseEnter(row,col,sideEnum.left)"
                      [ngClass]="{'in-range-hovered': (calendarVariables.left.calendar[row][col].isBetween(startDate, hoveredDate) && (calendarVariables.right.calendar[1][1].month() ==calendarVariables.right.calendar[row][col].month()))}"
                      (click)="clickDate($event, sideEnum.left, row, col)">
                  <span
                    *ngIf="(calendarVariables.left.calendar[1][1].month() ==calendarVariables.left.calendar[row][col].month())">{{calendarVariables.left.calendar[row][col].date()}}</span>
                  </td>


                </tr>
              </ng-container>

              </tbody>
            </table>
          </div>

          <div class="calendar-time" *ngIf="timePicker">
            <select class="hourselect" [disabled]="!endDate" [(ngModel)]="timepickerVariables.left.selectedHour"
                    (ngModelChange)="timeChanged($event, sideEnum.left)">
              <option *ngFor="let i of timepickerVariables.left.hours"
                      [value]="i"
                      [disabled]="timepickerVariables.left.disabledHours.indexOf(i) > -1">{{i}}</option>
            </select>
            <select class="minuteselect" [disabled]="!endDate" [(ngModel)]="timepickerVariables.left.selectedMinute"
                    (ngModelChange)="timeChanged($event, sideEnum.left)">
              <option *ngFor="let i of timepickerVariables.left.minutes; let index = index;"
                      [value]="i"
                      [disabled]="timepickerVariables.left.disabledMinutes.indexOf(i) > -1">{{timepickerVariables.left.minutesLabel[index]}}</option>
            </select>
            <select *ngIf="timePickerSeconds" class="secondselect" [disabled]="!endDate"
                    [(ngModel)]="timepickerVariables.left.selectedSecond"
                    (ngModelChange)="timeChanged($event, sideEnum.left)">
              <option *ngFor="let i of timepickerVariables.left.seconds; let index = index;"
                      [value]="i"
                      [disabled]="timepickerVariables.left.disabledSeconds.indexOf(i) > -1">{{timepickerVariables.left.secondsLabel[index]}}</option>
            </select>
            <select *ngIf="!timePicker24Hour" class="ampmselect" [(ngModel)]="timepickerVariables.left.ampmModel"
                    (ngModelChange)="timeChanged($event, sideEnum.left)">
              <option value="AM" [disabled]="timepickerVariables.left.amDisabled">AM</option>
              <option value="PM" [disabled]="timepickerVariables.left.pmDisabled">PM</option>
            </select>
          </div>
        </div>

        <div class="calendar right" *ngIf="showCalInRanges && !singleDatePicker && !showMonthPicker">

          <div class="calendar-table">
            <table class="table-condensed" *ngIf="calendarVariables">
              <thead>
              <tr>
                <th *ngIf="showWeekNumbers || showISOWeekNumbers"></th>
                <ng-container
                  *ngIf="(!calendarVariables.right.minDate || calendarVariables.right.minDate.isBefore(calendarVariables.right.calendar.firstDay)) && (!this.linkedCalendars)">
                  <th class="available">
                  </th>
                </ng-container>
                <ng-container
                  *ngIf="!((!calendarVariables.right.minDate || calendarVariables.right.minDate.isBefore(calendarVariables.right.calendar.firstDay)) && (!this.linkedCalendars))">
                  <th></th>
                </ng-container>
                <th colspan="5" class="month">
                  <ng-container *ngIf="showDropdowns && calendarVariables.right.dropdowns">
                    <div>
                      {{this.locale.monthNames[calendarVariables?.right?.calendar[1][1].month()]}}
                      <select class="monthselect" (change)="monthChanged($event, sideEnum.right)">
                        <option
                          [disabled]="(calendarVariables.right.dropdowns.inMinYear && m < calendarVariables.right.minDate.month()) || (calendarVariables.right.dropdowns.inMaxYear && m > calendarVariables.right.maxDate.month())"
                          *ngFor="let m of calendarVariables.right.dropdowns.monthArrays" [value]="m"
                          [selected]="calendarVariables.right.dropdowns.currentMonth == m">
                          {{locale.monthNames[m] }}
                        </option>
                      </select>
                    </div>
                    <div style="padding-left: 5px">
                      {{ calendarVariables?.right?.calendar[1][1].format(" YYYY")}}
                      <select class="yearselect" (change)="yearChanged($event, sideEnum.right)">
                        <option *ngFor="let y of calendarVariables.right.dropdowns.yearArrays"
                                [selected]="y === calendarVariables.right.dropdowns.currentYear">
                          {{' ' + y}}
                        </option>
                      </select>
                    </div>
                  </ng-container>
                  <ng-container *ngIf="!showDropdowns || !calendarVariables.right.dropdowns">
                    {{this.locale.monthNames[calendarVariables?.right?.calendar[1][1].month()]}}  {{ calendarVariables?.right?.calendar[1][1].format(" YYYY")}}
                  </ng-container>
                </th>
                <ng-container
                  *ngIf="!calendarVariables.right.maxDate || calendarVariables.right.maxDate.isAfter(calendarVariables.right.calendar.lastDay) && (!linkedCalendars || singleDatePicker || true)">
                  <th>
                  </th>
                </ng-container>
                <ng-container
                  *ngIf="!(!calendarVariables.right.maxDate || calendarVariables.right.maxDate.isAfter(calendarVariables.right.calendar.lastDay) && (!linkedCalendars || singleDatePicker || true))">
                  <th></th>
                </ng-container>
              </tr>

              <tr>
                <th *ngIf="showWeekNumbers || showISOWeekNumbers" class="week"><span>{{this.locale.weekLabel}}</span>
                </th>
                <th *ngFor="let dayofweek of locale.daysOfWeek"><span>{{dayofweek}}</span></th>
              </tr>
              </thead>

              <tbody>

              <ng-container *ngFor="let row of calendarVariables.right.calRows">
                <tr *ngIf="row<5"
                    [class]="calendarVariables.right.classes[row].classList">
                  <td class="week" *ngIf="showWeekNumbers">
                    <span>{{calendarVariables.right.calendar[row][0].week()}}</span>
                  </td>

                  <td class="week" *ngIf="showISOWeekNumbers">
                    <span>{{calendarVariables.right.calendar[row][0].isoWeek()}}</span>
                  </td>

                  <td *ngFor="let col of calendarVariables.right.calCols"
                      [class]="calendarVariables.right.classes[row][col]"
                      [style.backgroundColor]="!(calendarVariables.right.calendar[1][1].month() ==calendarVariables.right.calendar[row][col].month())?'white':'inherit'"
                      (mouseenter)="mouseEnter(row,col,sideEnum.right)"
                      [ngClass]="{'in-range-hovered': (calendarVariables.right.calendar[row][col].isBetween(startDate, hoveredDate)&&(calendarVariables.right.calendar[1][1].month() ==calendarVariables.right.calendar[row][col].month()))}"
                      (click)="clickDate($event, sideEnum.right, row, col)">
                  <span
                    *ngIf="(calendarVariables.right.calendar[1][1].month() ==calendarVariables.right.calendar[row][col].month())">{{calendarVariables.right.calendar[row][col].date()}}</span>
                  </td>

                </tr>
              </ng-container>
              </tbody>
            </table>
          </div>
          <div class="calendar-time" *ngIf="timePicker">
            <select class="hourselect" [disabled]="!endDate" [(ngModel)]="timepickerVariables.right.selectedHour"
                    (ngModelChange)="timeChanged($event, sideEnum.right)">
              <option *ngFor="let i of timepickerVariables.right.hours"
                      [value]="i"
                      [disabled]="timepickerVariables.right.disabledHours.indexOf(i) > -1">{{i}}</option>
            </select>
            <select class="minuteselect" [disabled]="!endDate" [(ngModel)]="timepickerVariables.right.selectedMinute"
                    (ngModelChange)="timeChanged($event, sideEnum.right)">
              <option *ngFor="let i of timepickerVariables.right.minutes; let index = index;"
                      [value]="i"
                      [disabled]="timepickerVariables.right.disabledMinutes.indexOf(i) > -1">{{timepickerVariables.right.minutesLabel[index]}}</option>
            </select>
            <select *ngIf="timePickerSeconds" class="secondselect" [disabled]="!endDate"
                    [(ngModel)]="timepickerVariables.right.selectedSecond"
                    (ngModelChange)="timeChanged($event, sideEnum.right)">
              <option *ngFor="let i of timepickerVariables.right.seconds; let index = index;"
                      [value]="i"
                      [disabled]="timepickerVariables.right.disabledSeconds.indexOf(i) > -1">{{timepickerVariables.right.secondsLabel[index]}}</option>
            </select>
            <select *ngIf="!timePicker24Hour" class="ampmselect" [(ngModel)]="timepickerVariables.right.ampmModel"
                    (ngModelChange)="timeChanged($event, sideEnum.right)">
              <option value="AM" [disabled]="timepickerVariables.right.amDisabled">AM</option>
              <option value="PM" [disabled]="timepickerVariables.right.pmDisabled">PM</option>
            </select>
          </div>
        </div>
      </div>
    </div>

    <div class="buttons" *ngIf="!autoApply && ( !rangesArray.length || (showCalInRanges && !singleDatePicker))">
      <div class="buttons_input">
        <button *ngIf="showClearButton" class="btn btn-default clear" type="button" (click)="clear()"
                title="clear the date">
          <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 -5 24 24">
            <path d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zM19 4h-3.5l-1-1h-5l-1 1H5v2h14V4z"/>
          </svg>
        </button>
        <button class="btn btn-default" *ngIf="showCancel" type="button"
                (click)="clickCancel($event)">{{locale.cancelLabel}}</button>
        <button class="btn" [disabled]="applyBtn.disabled" type="button"
                (click)="clickApply($event)">{{locale.applyLabel}}</button>
      </div>
    </div>
  </div>
</div>
